Repository mobilecoinfoundation/mobilecoin, pull requests merged in 2022-07, with the labels that each got.

#2142 slam as a service
  .github/workflows/ci.yml
  Cargo.lock
  mobilecoind-dev-faucet/Cargo.toml
  mobilecoind-dev-faucet/README.md
  mobilecoind-dev-faucet/src/bin/main.rs
  mobilecoind-dev-faucet/src/data_types.rs
  mobilecoind-dev-faucet/src/lib.rs
  mobilecoind-dev-faucet/src/slam/mod.rs
  mobilecoind-dev-faucet/src/slam/prepared_utxo.rs
  mobilecoind-dev-faucet/src/slam/tx_submitter.rs
  mobilecoind-dev-faucet/src/worker.rs
Labels: enhancement

#2052 Add `BlockMetadata` to consensus, ledger and watcher
  Cargo.lock
  api/proto/blockchain.proto
  api/src/convert/archive_block.rs
  api/src/convert/block_metadata.rs
  blockchain/test-utils/Cargo.toml
  blockchain/test-utils/src/lib.rs
  blockchain/types/src/block_metadata.rs
  consensus/enclave/impl/Cargo.toml
  consensus/enclave/impl/src/lib.rs
  consensus/service/Cargo.toml
  consensus/service/src/byzantine_ledger/mod.rs
  consensus/service/src/byzantine_ledger/worker.rs
  consensus/service/src/mint_tx_manager/mod.rs
  consensus/service/src/validators.rs
  fog/ingest/server/test-utils/src/lib.rs
  fog/ledger/server/Cargo.toml
  fog/ledger/server/tests/connection.rs
  fog/ledger/test_infra/src/lib.rs
  fog/load_testing/src/bin/ingest.rs
  fog/test_infra/src/bin/add_test_block.rs
  fog/test_infra/src/lib.rs
  ledger/db/Cargo.toml
  ledger/db/src/error.rs
  ledger/db/src/ledger_db.rs
  ledger/db/src/ledger_trait.rs
  ledger/db/src/test_utils/mock_ledger.rs
  ledger/from-archive/src/main.rs
  ledger/sync/src/ledger_sync/ledger_sync_service.rs
  ledger/sync/src/test_app/main.rs
  mint-auditor/Cargo.toml
  mint-auditor/src/db/mod.rs
  mint-auditor/src/db/test_utils.rs
  mint-auditor/src/service.rs
  mobilecoind/Cargo.toml
  mobilecoind/src/bin/main.rs
  mobilecoind/src/service.rs
  mobilecoind/src/test_utils.rs
  transaction/core/test-utils/Cargo.toml
  transaction/core/test-utils/src/lib.rs
  transaction/types/src/block_version.rs
  util/generate-sample-ledger/src/lib.rs
  watcher/src/block_data_store.rs
  watcher/src/watcher.rs
  watcher/src/watcher_db.rs
Labels: enhancement, watcher, rust, consensus, mobilecoind

#2216 Handle catch-up mode for consensus and mobilecoind
  Cargo.lock
  consensus/enclave/mock/Cargo.toml
  consensus/enclave/mock/src/lib.rs
  consensus/service/Cargo.toml
  consensus/service/src/byzantine_ledger/metadata_provider.rs
  consensus/service/src/byzantine_ledger/mod.rs
  fog/ingest/server/Cargo.toml
  ledger/db/src/ledger_db.rs
  ledger/sync/Cargo.toml
  ledger/sync/src/ledger_sync/ledger_sync_service.rs
  ledger/sync/src/lib.rs
  ledger/sync/src/metadata_provider.rs
Labels: rust, consensus, mobilecoind

#2260 Add a utility to dump a LedgerDB as JSON
  Cargo.lock
  Cargo.toml
  util/dump-ledger/Cargo.toml
  util/dump-ledger/src/bin/dump_ledger.rs
  util/dump-ledger/src/error.rs
  util/dump-ledger/src/lib.rs
  util/generate-sample-ledger/src/bin/generate_sample_ledger.rs
  util/generate-sample-ledger/src/lib.rs
Labels: enhancement, rust

#2189 Implement query / dynamic shard component discovery in Fog View Router
  Cargo.lock
  fog/api/Cargo.toml
  fog/api/src/conversions.rs
  fog/uri/src/lib.rs
  fog/view/enclave/trusted/src/lib.rs
  fog/view/server/src/bin/router.rs
  fog/view/server/src/error.rs
  fog/view/server/src/fog_view_router_server.rs
  fog/view/server/src/fog_view_router_service.rs
  fog/view/server/src/lib.rs
  fog/view/server/src/router_request_handler.rs
  fog/view/server/src/server.rs
  fog/view/server/src/shard_responses_processor.rs
Labels: fog-view

#2265 Split Fog View API into Client-facing and Store (Fog Router) APIs
  fog/api/proto/view.proto
  fog/uri/src/lib.rs
  fog/view/server/src/bin/router.rs
  fog/view/server/src/config.rs
  fog/view/server/src/fog_view_router_server.rs
  fog/view/server/src/fog_view_router_service.rs
  fog/view/server/src/fog_view_service.rs
  fog/view/server/src/router_request_handler.rs
  fog/view/server/src/server.rs
  fog/view/server/src/shard_responses_processor.rs
  fog/view/server/tests/smoke_tests.rs
Labels: fog-view

#2236 Publish protobufs to buf.build
  api/proto/buf.lock
  api/proto/buf.yaml
  attest/api/proto/buf.lock
  attest/api/proto/buf.yaml
  buf.work.yaml
  consensus/api/proto/buf.lock
  consensus/api/proto/buf.yaml
  fog/api/proto/buf.lock
  fog/api/proto/buf.yaml
  fog/report/api/proto/buf.lock
  fog/report/api/proto/buf.yaml
  mint-auditor/api/proto/buf.lock
  mint-auditor/api/proto/buf.yaml
  mobilecoind/api/proto/buf.lock
  mobilecoind/api/proto/buf.yaml
  tools/buf_push.sh
  util/grpc/proto/buf.lock
  util/grpc/proto/buf.yaml
Labels: build, protobufs
