Repository mobilecoinfoundation/mobilecoin, pull requests merged in 2022-10, with the labels that each got.

#2676 Cherry-pick opt-in telemetry (#2193)
  mobilecoind/src/bin/main.rs
  util/telemetry/src/jaeger.rs
  util/telemetry/src/lib.rs
Labels: blocks-v2.1.x

#2681 improve fog ingest logging when unique constraint is violated
  fog/sql_recovery_db/src/lib.rs
Labels: enhancement, fog-ingest, blocks-v3.x

#2682 improve fog ingest logging when unique constraint is violated (release/v2)
  fog/sql_recovery_db/src/lib.rs
Labels: enhancement, fog-ingest, blocks-v2.1.x

#2696 use Blake2b instead of Sha-512 for amount shared secret derivation
  transaction/core/src/amount/v2.rs
Labels: blocks-v3.x, transaction-core

#2678 Cherry-pick 2.1.x Changelog
  CHANGELOG.md
Labels: blocks-v2.1.x

#2707 Make fog-view load blocks from postgres in batches
  fog/recovery_db_iface/src/lib.rs
  fog/sql_recovery_db/src/lib.rs
  fog/view/server/src/config.rs
  fog/view/server/src/db_fetcher.rs
  fog/view/server/src/server.rs
  fog/view/server/tests/smoke_tests.rs
Labels: remediation, fog-view, blocks-v2.1.x

#2759 Update to SGX 2.17.1, add INTEL-SA-00657 to known advisories list. (#2639)
  .circleci/config.yml
  .github/workflows/mobilecoin-dev-cd.yaml
  .internal-ci/docker/Dockerfile.runtime-base
  .mobconf
  attest/verifier/README.md
  consensus/enclave/build.rs
  consensus/enclave/measurement/build.rs
  consensus/enclave/measurement/src/lib.rs
  consensus/enclave/trusted/build.rs
  consensus/service/BUILD.md
  crypto/ake/enclave/src/lib.rs
  docker/install_sgx.sh
  fog/ingest/enclave/build.rs
  fog/ingest/enclave/measurement/build.rs
  fog/ingest/enclave/measurement/src/lib.rs
  fog/ingest/enclave/trusted/build.rs
  fog/ledger/enclave/build.rs
  fog/ledger/enclave/measurement/build.rs
  fog/ledger/enclave/measurement/src/lib.rs
  fog/ledger/enclave/trusted/build.rs
  fog/view/enclave/build.rs
  fog/view/enclave/measurement/build.rs
  fog/view/enclave/measurement/src/lib.rs
  fog/view/enclave/trusted/build.rs
  jenkins/build-pod.yaml
  mobilecoind/src/config.rs
  ops/Dockerfile-consensus
Labels: blocks-v3.0.0
