Repository mobilecoinfoundation/mobilecoin, pull requests merged in 2023-03, with the labels that each got.

#3155 Add tracked_sessions field to consensus service
  consensus/service/config/src/lib.rs
  consensus/service/src/api/client_api_service.rs
  consensus/service/src/api/mod.rs
  consensus/service/src/consensus_service.rs
Labels: consensus

#3156 Start tracking client sessions in consensus
  consensus/service/src/api/client_api_service.rs
Labels: consensus

#3232 mobilecoind: fix a bug in swap generation
  mobilecoind/src/payments.rs
  mobilecoind/src/service.rs
Labels: bug, mobilecoind, ! v4.1.0

#3214 mobilecoind: add support for mixed transactions, including those with SCIs in them
  Cargo.lock
  Cargo.toml
  mobilecoind-json/Cargo.toml
  mobilecoind-json/src/data_types.rs
  mobilecoind/api/proto/mobilecoind_api.proto
  mobilecoind/api/src/lib.rs
  mobilecoind/src/conversions.rs
  mobilecoind/src/error.rs
  mobilecoind/src/payments.rs
  mobilecoind/src/service.rs
  mobilecoind/src/test_utils.rs
  transaction/builder/Cargo.toml
  transaction/builder/src/transaction_builder.rs
  transaction/extra/Cargo.toml
  transaction/extra/src/lib.rs
  transaction/extra/src/signed_contingent_input.rs
  util/u64-ratio/Cargo.toml
  util/u64-ratio/src/lib.rs
Labels: enhancement, mobilecoind, ! v4.1.0

#3162 chore(deps): Update go-grpc-gateway to use go 1.19, newer dependencies
  .github/workflows/mobilecoin-dev-cd.yaml
  .internal-ci/docker/Dockerfile.go-grpc-gateway
  .internal-ci/util/manual_republish_existing_build.sh
  go-grpc-gateway/.gitignore
  go-grpc-gateway/go.mod
  go-grpc-gateway/go.sum
  go-grpc-gateway/main.go
  go-grpc-gateway/test.sh
Labels: dependencies, ! v4.1.0

#3246 Update changelog for PRs to 4.1
  CHANGELOG.md
Labels: ! v4.1.0

#3224 make transaction core input rules validation use U64Ratio
  Cargo.lock
  consensus/enclave/trusted/Cargo.lock
  fog/ingest/enclave/trusted/Cargo.lock
  fog/ledger/enclave/trusted/Cargo.lock
  fog/view/enclave/trusted/Cargo.lock
  transaction/core/Cargo.toml
  transaction/core/src/input_rules.rs
  util/u64-ratio/README.md
  util/u64-ratio/src/lib.rs
Labels: tech-debt, transaction-core, ! v5.0.0

#3217 Remove client-facing API from key-image store
  fog/ledger/server/Cargo.toml
  fog/ledger/server/src/bin/main.rs
  fog/ledger/server/src/config.rs
  fog/ledger/server/src/db_fetcher.rs
  fog/ledger/server/src/key_image_service.rs
  fog/ledger/server/src/key_image_store_server.rs
  fog/ledger/server/src/lib.rs
  fog/ledger/server/src/server.rs
  fog/ledger/server/tests/connection.rs
  fog/ledger/server/tests/store.rs
  fog/ledger/server/tests/store_tests.rs
Labels: tech-debt, fog-ledger

#3264 Optelemetry tracing for FLR
  fog/ledger/server/src/router_handlers.rs
  fog/ledger/server/src/router_service.rs
Labels: metrics, rust, fog-ledger

#3279 Update dependencies for cd
  mobilecoind/strategies/requirements.txt
Labels: ! v5.0.0
